body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 70%;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    border: 1px solid #000;
}

th {
    background-color: #cfcfcf;
}

.form-title{
    width: 30%;
    margin: 0 auto;
}

.buttons {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;    
    margin-top: 30px;
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
}
.buttons button:hover{
    cursor: pointer;
    background-color: #b2b1b1;
}
.choose-file{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px ;
}
.choose-file input{
    color: red;
    font-weight: 600;
}

.saveFormData button{
    margin-top: 15px;
    margin-left: 45%;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    
}
.saveFormData button:hover{
    cursor: pointer;
    background-color: #b2b1b1;
}

.form-table {
    width: 70%;
    margin: 20px auto; /* Center the table horizontally */
    border-collapse: collapse;
}

.form-table th,
.form-table td {
    padding: 10px;
    border: 1px solid #000;
}

.form-table th {
    background-color: #cfcfcf;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.action-buttons button {
    margin-right: 10px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
}

.action-buttons button:hover {
    cursor: pointer;
    background-color: #b2b1b1;
}

.file-input-container {
    width: 30%;
    margin: 0 auto 20px auto;
}

.form-submit-button button {
    margin-top: 15px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
}

.form-submit-button button:hover {
    cursor: pointer;
    background-color: #b2b1b1;
}
